services:
  app:
    image: my-elysia-app
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: elysia_auth
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
